
<% @users.each do |user, info| %>
  <h3><%= user %></h3>
  <table>
    <th>IP address</th>
    <th>Action</th>
    <th>Date</th>

    <% info.each do |ip, accesses| %> 
      <% first = true %>
      <% accesses.each do |access| %>
        <tr>
          <td><%= ip if first %></td>
          <td><%= access[:action] %></td>
          <td><%= access[:date] %></td>
        </tr>
        <% first = false %>
      <% end %>

    <% end %> 
  </table>

<% end %>

