
<div class="register_container">
  <%= image_tag 'fingerbank.logo.png', :width => 400 %>

  <h5>In order to access all the features of this application and generate your API key, you need to login with your Github account by clicking the link below.</h5>

  <a href="/login?redirect_url=/users/my_account" class="btn btn-primary">
    Login using Github
    <%= image_tag "github.png", :size => '17x17' %>
  </a>

  <h5>For a corporate account, please contact fingerbank@inverse.ca</h5>

</div>
