// Place all the styles related to the combinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.search{
  padding:0 1em; 
  display:inline-block;
}

span.splitter{
  display:block;
  border-top:1px ridge #428bca;
}

td.device_info{
  padding:0.3em;
}
