@import "bootstrap-sprockets";
@import "bootstrap";
@import "global"; 

span.minimized {
  display:none;
}

.device-toggler {
  @extend .fb-btn;
  @extend .btn-primary;
}

.device-toggler-expand {
  @extend .device-toggler;
  @extend .glyphicon-resize-full;
}

.device-toggler-shrink {
  @extend .device-toggler;
  @extend .glyphicon-minus;
}

li.no-bullet {
  position:relative;
  left:-25px;
  list-style-type:none;
}
