@import "bootstrap-sprockets";
@import "bootstrap";

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #eeeeee;
}

@mixin rounded($amount) {
  -moz-border-radius: $amount;
  -webkit-border-radius: $amount;
  border-radius: $amount;
}

body{
  margin:1em;
}

table{
  margin:auto;
  table-layout:fixed;
  display:block;
}

th{
  padding:0 1em;
}

td.options{
  text-align:center;
  width:100px;
}

td{
  padding:0 1em;
  white-space:nowrap;

  .details{
    @include rounded(5px);
    padding:0.5em;
    border: 1px solid black;
    white-space:normal;
    background-color:white;
    display:inline-block;
    * {
      width:400px;
    }
  }
/*
  a, a:visited, a:link, a:hover, a:active{
    color:white;
  }
*/
}

td.shortened {
  max-width:300px;
  overflow:hidden;
  text-overflow:ellipsis;
}

.fb-btn{
  @extend .btn;
  @extend .glyphicon;
  margin:0.1em;
  padding:0.1em;
  color:white;
}

.btn-show{
  @extend .fb-btn;
  @extend .btn-info;
  @extend .glyphicon-eye-open;
}

.btn-edit{
  @extend .fb-btn;
  @extend .btn-warning;
  @extend .glyphicon-pencil;
}

.btn-delete{
  @extend .fb-btn;
  @extend .btn-danger;
  @extend .glyphicon-remove;
}

.btn-refresh{
  @extend .fb-btn;
  @extend .btn-warning;
  @extend .glyphicon-refresh;
}

.btn-watch{
  @extend .fb-btn;
  @extend .btn-success;
  @extend .glyphicon-eye-open;
}

.btn-unwatch{
  @extend .fb-btn;
  @extend .btn-danger;
  @extend .glyphicon-eye-close;
}

.btn-lock {
  @extend .fb-btn;
  @extend .btn-danger;
  @extend .glyphicon-ban-circle;
}

.btn-unlock {
  @extend .fb-btn;
  @extend .btn-success;
  @extend .glyphicon-ok-circle;
}

.btn-down {
  @extend .fb-btn;
  @extend .btn-info;
  @extend .glyphicon-circle-arrow-down;
}

.btn-up {
  @extend .fb-btn;
  @extend .btn-info;
  @extend .glyphicon-circle-arrow-up;
}

input[type='text']{
  width:500px;
}

textarea{
  width:500px;
  height:100px;
}

.field{
  @extend .form-group;
  label {
    @extend .control-label;
  }
  input[type="text"], input[type="password"], input[type="number"] {
    @extend .form-control;
    width:100%;
  }
  textarea {
    @extend .form-control;
  }
  .field_with_errors {
    @extend .has-error;
  }
}

.actions {
  input[type="submit"]{
    @extend .btn;
    @extend .btn-primary;
  }
}

.padded {
  padding: 0.5em;
}

.show-field {
  @extend .padded;
}

.centered_container {
  display:table;
  margin:0 auto;
}

.simple_menu>* {
  padding-right: 5px;
}
