@import "bootstrap-sprockets";
@import "bootstrap";

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #eeeeee;
}

@mixin rounded($amount) {
  -moz-border-radius: $amount;
  -webkit-border-radius: $amount;
  border-radius: $amount;
}

body{
  margin:1em;
}

table{
  margin:auto;
  table-layout:fixed;
  display:block;
}

th{
  padding:0 1em;
}

td.options{
  text-align:center;
  width:100px;
}

td{
  padding:0 1em;
  white-space:nowrap;

  .details{
    @include rounded(5px);
    padding:0.5em;
    border: 1px solid black;
    white-space:normal;
    background-color:white;
    display:inline-block;
    * {
      width:400px;
    }
  }
/*
  a, a:visited, a:link, a:hover, a:active{
    color:white;
  }
*/
}

td.shortened {
  max-width:300px;
  overflow:hidden;
  text-overflow:ellipsis;
}

.btn-show{
  @extend .btn;
  @extend .btn-info;
  @extend .glyphicon;
  @extend .glyphicon-eye-open;
  margin:0.1em;
  padding:0.1em;
  color:white;
}

.btn-edit{
  @extend .btn;
  @extend .btn-warning;
  @extend .glyphicon; 
  @extend .glyphicon-pencil;
  margin:0.1em;
  padding:0.1em;
  color:white;
}

.btn-delete{
  @extend .btn;
  @extend .btn-danger;
  @extend .glyphicon;
  @extend .glyphicon-remove;
  margin:0.1em;
  padding:0.1em;
  color:white;
}

.btn-refresh{
  @extend .btn;
  @extend .btn-warning;
  @extend .glyphicon;
  @extend .glyphicon-refresh;
  margin:0.1em;
  padding:0.1em;
  color:white;
}

.btn-watch{
  @extend .btn;
  @extend .btn-success;
  @extend .glyphicon;
  @extend .glyphicon-eye-open;
  margin:0.1em;
  padding:0.1em;
  color:white;
}

.btn-unwatch{
  @extend .btn;
  @extend .btn-warning;
  @extend .glyphicon;
  @extend .glyphicon-eye-close;
  margin:0.1em;
  padding:0.1em;
  color:white;
}

input[type='text']{
  width:500px;
}

textarea{
  width:500px;
  height:100px;
}
