<html>

  <body>
    Hello,<br/>

    You have reached the hourly limit of access to the Fingerbank API.<br/>

    Consider using the local SQLite database available for <%= link_to 'download here', 'https://fingerbank.inverse.ca/download' %>. <br/>

    If you consider heavy usage of the Fingerbank API, please reply to this e-mail or write to support@inverse.ca

  </body>
</html>

