<html>

  <body>
    Hello,<br/>

    User <%= @user.name %> has requested access to submit to the Fingerbank API.<br/>

    Unless you are Zammit, you can grant the user access <%= link_to 'by clicking here', users_url %>.<br/>

  </body>
</html>
