<html>

  <body>
    Hello <%= @user.display_name %>,<br/><br/>

    Your account has been blocked due to unusual usage.<br/></br>

    Please reply to this e-mail to request your access back.<br/></br>

    Regards,<br/></br>

    The Fingerbank team<br/></br>

  </body>
</html>
