<% cache("#{action_name}-device-#{device.id}") do %>
  <ul>
  <%= render device %>
  <% level = 1 || level %>
  <% if level >= 1 %>
  <span class="minimized" data-maximized-by="<%= device.id %>"> 
  <% else %>
  <span>
  <% end %>
  <% device.device.order(:name).each do |child| %>
    <%= render :partial => 'devices/childs', :locals => {:device => child, :level => level+1} %>
  <% end %>
  </span>
  </ul>
<% end %>
