
<%= simple_show_container  do %>
  <%= render :partial => 'shared/search', :locals => {:action_url => search_devices_path , :previous_search => params[:search] } %>
  <div style="clear:both"></div>
  <% @devices.each do |device| %>
    <ul class="list-group">
    <%= render :partial => 'searched_device', :locals => {:device => device} %>
    </ul>
  <% end %>

<% end %>
