
<h4><%= combination.device ? combination.device.name : "Unknown device" %></h4>
<% if combination.version %>
<span class="label label-success">Version : <%= combination.version %></span>
<% else %>
<span class="label label-warning">Unknown version</span>
<% end %>
<span class="label label-primary">Score : <%= combination.score %></span>


