<h1>Download the Fingerbank database</h1>

<p>You can download the latest computed data of the Fingerbank database.</p>
<p>This will give you all the discovered combinations with their respective score.</p>
<p>This database is packaged as SQLite3</p>

<p>
  You can also download the database through our API by using this URL :
  <%= root_url %>api/v1/download?key=<%= @current_user.key %>
</p>

<%= link_to "Click here to download", "#{api_v1_download_path}?key=#{@current_user.key}" %> 

<h1>Download the Fingerbank p0f map</h1>

<p>The Fingerbank compatible p0f map will allow p0f to use the same device identifiers as Fingerbank so that when interogating it's socket, it will return a device identifier that can be used directly with the Fingerbank database.</p>

<%= link_to "Click here to download", "#{api_v1_download_p0f_map_path}?key=#{@current_user.key}" %> 
