
<div class="btn-group">
  <a href="?<%= default_order ? '' : sorting_request(current_order, current_order, current_order_way) %>" class="btn btn-primary">
    <%= default_order ? 'Sort by' : sorting_span(fields[current_order], current_order, current_order, current_order_way) %>
  </a>
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <% fields.each do |field, display| %>
      <li><%= sorting_link display, field, current_order, current_order_way %></li>
    <% end %>

  </ul>
</div>
